body{
    background: #d47677;
    color: #fff;
    font-family: cursive;
}

.para{
    padding: 10px;
}
.error {
    color: #FF0000;
}

.box{
    width: 80%;
    align-self: center;
    background-color: yellow;
    padding:2%;
    color:black;
    font-weight: 10px;
    font-family: cursive;
}
.h{
    text-align: center;
}